body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.title-box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.title-box button{
    margin-bottom: 10px;
}

.container {
    width : 80% !important;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

.title{
    padding-top: 10px;
    margin: 0px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.email-input-box{
    display: flex;
}

.email-input-box .button{
    margin-left: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #224bff; /* Green */
    color: white;
    border: none;
}

.button:hover {
    background-color: #224bff;
}

.button:active {
    background-color: #224bff;
}
