<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<link rel="stylesheet" href="/css/index.css">

<div th:include="layout/header :: header"></div>
<div th:include="layout/menu :: menu"></div>

<!-- 멘토링 섹션 -->
<section class="mentor-list-section">
    <!-- 사이드 메뉴 섹션 -->
    <div class="side-menu-section">
        <div class="side-menu-container">
            <div class="login-logout-box">
                <!-- 유저 이름에 따른 로그인/로그아웃 링크 -->
                <a th:if="${userName}" href="/mypage" th:text="${userName + '님의 페이지'}"></a>
                <a th:if="${userName}" href="/logout" class="small-btn">로그아웃</a>
                <a th:unless="${userName}" href="/oauth2/authorization/google" class="btn btn-success active" role="button">로그인</a>
            </div>
        </div>
    </div>
    <!-- 필터 및 검색 섹션 -->
    <div class="filter-search-section">
        <section class="filter-section">
            <div class="checkbox-container">
                <input type="checkbox" class="checkbox" value="0"> 개발자
                <input type="checkbox" class="checkbox" value="1"> 디자이너
                <input type="checkbox" class="checkbox" value="2"> 기획자
                <input type="checkbox" class="checkbox" value="3"> 기타
            </div>
        </section>
        <section class="search-section">
            <input type="text" id="search" class="search-input" maxlength="50" minlength="1">
            <button class="search-btn" id="searchBtn" th:onclick="sendSearch()">검색</button>
        </section>
    </div>
    <div class="mentor-section">
        <h1 class="mentor-section-title">✅ 나에게 맞는 멘토를 찾아보세요</h1>
        <!-- 멘토 목록 출력  -->
        <div class="mentor-card-boxs" th:each="mentor : ${data}" th:onclick="'mentoring(' + ${mentor.id} + ')'">

                <div class="mentor-card" >
                    <div class="mentor-card-top">
                        <div class="mentor-card-job-section">
                            <dl class="mentor-card-job-info">
                                <div class="title" th:text="${mentor.title}"></div>
                                <div class="display-flex">
                                    <dt>직무</dt>
                                    <dd th:text="${mentor.occupation + ' | ' + mentor.job}"></dd>
                                </div>
                                <div class="display-flex">
                                    <dt>경력</dt>
                                    <dd th:text="${mentor.career + '년'}"></dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="mentor-card-bottom">
                        <div class="display-flex">
                            <div class="mentor-card-img">
                                <img th:src="${'https://cdn.inflearn.com/public/users/thumbnails/1119097/577eb407-71a4-409e-9f36-2da58fd734f9'}" alt="멘토 이미지" loading="lazy">
                            </div>
                            <div class="mentor-card-name">
                                <a href="#" target="_blank" rel="noopener noreferrer" class="mentor-card__name" th:text="${mentor.name}"></a>
                            </div>
                        </div>
                        <a class="button" th:href="@{/mentor/{id}(id=${mentor.id})}">신청하기</a>
                    </div>
            </div>
        </div>
        <div class="pagingBtnBox">
            <a th:href="@{/(page=1)}">처음 </a>
            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                        <span th:if="${page == dataPages.number + 1}" th:text="${page}" class="active"></span>
                            <span th:unless="${page == dataPages.number + 1}">
                                <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                            </span>
                        </span>
            <a th:href="${dataPages.last} ? '#' : @{/(page=${dataPages.number + 2})}"> 다음 </a>
            <a th:href="@{/(page=${dataPages.totalPages})}"> 마지막</a>
        </div>

    </div>
</section>
<div th:include="layout/footer :: footer"></div>

<script src="/js/index.js"></script>